<%= render partial: 'appheader' %>
<section class="intro">
    <div class="intro-body">
    	<div class="background-shade">
			<h1><%= @user.name %></h1>	
			<p><%= @user.friends.count %> Friends on Friend Roulette</p>
			<p><%= @friends.count %> Friends</p>	
		</div>
	</div>
</section>