<%= render partial: 'appheader' %>
<section class="intro">
    <div class="intro-body">
    	<div class="background-shade">
			<p><%= @user.name %></p>	
			<p><%= @friends.count %> Friends</p>	
		</div>
	</div>
</section>