.background-shade {
	background-color: rgba(0, 0, 0, 0.25);

	width: 100%;
}

.shadow-image { 
	border: solid 1px #CCC;
	-moz-box-shadow: 5px 5px 0px #999;
	-webkit-box-shadow: 5px 5px 0px #999;
	box-shadow: 5px 5px 0px #999; 
}