<!DOCTYPE html>
<html>
	<head>
	  <title>FriendRoulette</title>
	  <%= render partial: 'stylesheets' %>
	  <%= render partial: 'meta' %>
	</head>
	<body>

		<%= yield %>

		<%= render partial: 'javascripts' %>
	</body>
</html>
